@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@Styles.Render("~/Content/SBAdmin/datatables")

@Html.Partial("_DashboardPartialCatList")



<!-- Modal Save/Update -->
<span>Modal Save/Update Partiva View Eklenecek - _DashboardPartialCatList _DashboardPartialCat olarak güncellenecek </span>

<a href="https://startbootstrap.com/themes/sb-admin-2/"> new admin page</a>

<input type="text" name="tbCatName" id="tbCatName"><br>
<button id="btnSubmit"> Save </button>




<!-- Modal Error -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLongTitle">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>I think there is something wrong</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    @Scripts.Render("~/Scripts/SBAdmin/datatables")


    <script type="text/javascript">
    $(document).ready(function () {

            $('#myTable').DataTable({
                "ajax": {
                    "url": '@Url.Action("cat","api")',
                    "type": "POST",
                    "datatype": "json",
                    dataSrc: ''
                },
                "columns": [
                    { "data": "Name", "name": "Isim", "autoWidth": true },
                    { "data": "NumberOfUse", "name": "YapilanIs", "autoWidth": true },
                    { "data": "Status", "name": "IsSure", "autoWidth": true },
                    {
                        "data": "IDCat", "autoWidth": true, "render": function (data) {
                            return '<a class="popup" href="/home/save/' + data + '">Edit</a>';
                        }
                    }
                ],
                "serverSide": "true",
                //"order": [0, "asc"],
                "processing": "true",
                "language": {
                    "processing": "Yükleniyor... Lütfen Bekleyin"
                }

        });


        // function
        function OnSuccessAdd(data) {
                alert('HTTP Status Code: ' + data.param1 + "  " + data.param2);
            }

        function OnFailuresAdd(data) {
                alert('HTTP Status Code: ' + data.param1 + '  Error Message: ' + data.param2);
            }

        });
    </script>

}






@*
    // the other code scripts
    var $table = $('#bootstrap-data-table-export');
    var modalError = $("#errorModal");

    $.ajax({
        type: 'GET',
        url: '@Url.Action("cat","api")',
        success: function (cats) {

            $.each(cats, function (i, cat) {
                var catStatus = (cat.Status == true) ? 'Aktif' : 'Pasif';

                $catTable = $([
                    "<tr>",
                    "    <td>" + cat.Name + "</td>",
                    "    <td>" + cat.NumberOfUse + "</td>",
                    "    <td>" + catStatus + "</td>",
                    "    <td> Drop down list </td>",
                    "</tr>"
                ].join("\n"));

                $table.append($catTable);
            });
        },
        error: function (xhr, ajaxOptions, thrownError) {
            jQuery("#errorModal .modal-body p")
                .append("<br /> Error Code: " + xhr.status
                + "<br />  Error: " + thrownError
                + "<br />  Error Response: " + xhr.responseText);

           $(modalError).modal();
        }
    });

    console.log($table);

    // var $CatName = $('#tbCatName');

    jQuery("#btnSubmit").on('click', function () {


        var cat = $("#tbCatName").val();
        //var cat = { Name = $('#tbCatName').val(), NumberOfUse = 0, Status = true };

        $.ajax({
            type: 'POST',
            url: '@Url.Action("cat","api")',
            data: cat,
            success: function (newCat) {
                $catTable = $([
                    "<tr>",
                    "    <td>" + newCat.Name + "</td>",
                    "    <td>" + newCat.NumberOfUse + "</td>",
                    "    <td>" + newCat.Status + "</td>",
                    "    <td> Drop down list </td>",
                    "</tr>"
                ].join("\n"));

                $table.append($catTable);
            },
            error: function () {

            }
        });
    });

*@



@*
        sb2 Admin
    // Call the dataTables jQuery plugin
    $(document).ready(function() {
      $('#dataTable').DataTable();
    });*@



@*" <p> " + json[i].Name + " </p>" +
    " <p> " + json[i].NumberOfUse + " </p>"*@


@*// bir diğer örnek
    //var json = $.parseJSON(data);
    var json = cats;
    $("#Categorys").empty();

    for (var i = 0; i < json.length; ++i) {
        $("#Categorys").append(json[i].Name);
        console.log(json[i].Name);
    }*@